<% include ./partials/header%>
<div id="newTitle" class="ui segment">
<div id="newTitle" class="ui segment">
  <label id ="newTitleLabel">
    <%=information%>
  </label>
</div>
</div>
<% include ./partials/footer%>
