<% include ./partials/header%>
<% include ./partials/secondHeader%>
<style>
  #newTitle{
    width:30em;
    margin:auto;
    text-align:center
  }
  .text-center {
    text-align: center;
  }
</style>
<h1 class = "text-center "> <%= name %> </h1>
<p id = "newTitle"> <%= Err %> </p>
<% include ./partials/footer%>
